<!doctype html>
<html class="no-js" lang="en">
	<head>
	  <meta charset="utf-8">
    <title><%= yield_for(:title, "JustinHerrick.com")%></title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="description" content="<%= yield_for(:description, "The personal site of Justin Herrick (Me). This is where you will find information about my projects as well as articles written by me.") %>">
	  <meta name="author" content="Justin Herrick">
	  <meta name="keywords" content="<%= yield_for(:keywords,  "Tech, Justin Herrick, JAH2488, Blog, rails, ruby, startups, games, videogames") %>">
	  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
	  <meta name="viewport" content="width=device-width,initial-scale=1">

	  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Caudex:400italic,700,400' rel='stylesheet' type='text/css'>
    <%= auto_discovery_link_tag( :rss, { controller: :posts, action: :feed } ) %>
	</head>
	<body onload="prettyPrint()">
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=136118426463877";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div id="wrapper">
		<header id="nav-bar" class="">
			<hgroup class="">
				<h1><%= link_to "JUSTINHERRICK", "/" %></h1>
				<nav class="">
					<ul class="clearfix">
						<li class=""> <%= link_to "BLOG", posts_path %> </li>
						<li class=""> <%= link_to "PROJECTS", projects_path %> </li>
						<li class="contact"> <%= link_to "CONTACT", contact_path %> </li>
						<% if current_user %>
							<li class=""> <%= link_to "logout", destroy_user_session_path %></li>
						<% end %>
					</ul>
				</nav>
			</hgroup>
		</header>
		<div id="mobile-nav">
			<nav class="">
				<ul class="clearfix">
					<li class=""> <%= link_to "Blog", posts_path %> </li>
					<li class=""> <%= link_to "Projects", projects_path %> </li>
					<li class=""> <%= link_to "Contact", contact_path %> </li>
				</ul>
			</nav>
		</div>
		<div id="content-wrapper">
			<div id="main" role="main" class="clearfix">
				<section id="content" class="span12">
				  <%- flash.each do |name, msg| -%>
				    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				  <%- end -%>
					<%= yield %>
				</section>
			</div>
			<div id="sidebar" role="sidebar">
        <div id="icon">
						<div class="border">
							<img src="/assets/me.jpg" />
						</div>
					</div>
					<div id="about-me">
						<div id="social">
							<ul>
								<li class="1twitter">
									<%= link_to "", "http://twitter.com/jah2488",  :class => "twitter" %>
								</li>
								<li class="1forrst">
									<%= link_to "", "http://forrst.me/jah2488",    :class => "forrst" %>
								</li>
								<li class="1facebook">
									<%= link_to "", "http://facebook.com/jah2488", :class => "facebook" %>
								</li>
								<li class="1buzz">
									<%= link_to "", "http://github.com/jah2488",   :class => "github" %>
								</li>
							</ul>
						</div>
						<p> My name is Justin and I make web apps,
						 I provide app and startup consultation,
						 I like to make things that work.
						 I like creativity, novelty, and believe
						 that less is more.</p>
						<p class="hire">I'm available for hire!<br/>
						<%= link_to "Contact Me if you're Interested", contact_path %></p>
					</div>
			</div>
		</div>
		<footer class="clearfix" style="display:none;">
			<nav>
				<ul class="clearfix">
					<li class="clearfix"> <%= link_to "Blog", posts_path %> </li>
					<li class="clearfix"> <%= link_to "Projects", projects_path %> </li>
					<li class="clearfix"> <%= link_to "Contact", contact_path %> </li>
				</ul>
			</nav>
		</footer>
	</div>
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.4.min.js"><\/script>')</script>
  <% unless Rails.env["development"] %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15051537-9']);
	  _gaq.push(['_setDomainName', 'justinherrick.com']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  <% end %>
	</body>
</html>
