= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :screenshot
    = f.file_field  :screenshot
  .field
    = f.label :url
    = f.url_field :url
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :deployed
    = f.check_box :deployed
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :platform
    = f.text_field :platform
  .field
    = f.label :notes
    = f.text_field :notes
  .actions
    = f.submit 'Save'
