#projects
  / %section#sort
  /   %h2 Sort and Search Projects
  /   %hr
  /   %input
  /   %button Search
  /   %p Sort Figures Here
  /   - @projects.each do |project|
  /     = link_to project.title, project_path(project)

  %h1 A List of my most recent and favorite projects

  %section#project
    - @projects.each do |project|
      %article{ :class => project.deployed}
        %header
          %h1= link_to project.title.titleize, project
        #div
          = image_tag project.screenshot.url(:small) || image_tag("http://placekitten.com/225/250")
        .language= link_to "#{project.language.to_s}", tagged_project_path(project.language)
        .platform= link_to "#{project.platform.to_s}", tagged_project_path(project.platform)
  %br

  =  link_to 'New Project', new_project_path if current_user

= content_for :sidebar do
  %p Exciting Sidebar content for Projects page
  %hr