#projects
  %section#sort
    %h2 Sort and Search Projects
    %hr
    %input
    %button Search
    %p Sort Figures Here
    - @projects.each do |project|
      = link_to project.title, project_path(project)


  %section#project
    - @projects.each do |project|
      %article
        %header
          #div
            %img(src="http://placekitten.com/150/150")
          %h1= project.title
        %p= project.description
        %ul
          %li= project.language
          %li= project.platform
          %li= project.database
          %li= project.deployed
        %p= project.notes

  %br

  =  link_to 'New Project', new_project_path if current_user
