%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Language:
  = @project.language
%p
  %b Deployed:
  = @project.deployed
%p
  %b Start date:
  = @project.start_date
%p
  %b End date:
  = @project.end_date
%p
  %b Platform:
  = @project.platform
%p
  %b Db:
  = @project.db
%p
  %b Notes:
  = @project.notes

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
