%article
  %header
    #div
      %img(src="http://placekitten.com/150/150")
    %h1= link_to @project.title, @project
  %p= @project.description
  %ul
    %li= @project.language
    %li= @project.platform
    %li= @project.database
    %li= @project.deployed
  %p= @project.notes


= if current_user
  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
