%h1 A List of my projects tagged #{params[:tag] if params[:tag]}

%section#project
  - @projects.each do |project|
    %article{ :class => project.deployed}
      %header
        %h1= link_to project.title.titleize, project
      #div
        = image_tag project.screenshot.url(:small) || image_tag("http://placekitten.com/225/250")
      .language= link_to "#{project.language.to_s}", tagged_project_path(project.language)
      .platform= link_to "#{project.platform.to_s}", tagged_project_path(project.platform)
  %br

%br

=  link_to 'New Project', new_project_path if current_user

= content_for :sidebar do
  %p Splash Sidebar content for Projects page