%h1 A List of my projects with tag ____

%section#project
  - @projects.each do |project|
    %article{ :class => project.deployed}
      %header
        %h1= link_to project.title, project
      #div
        %img(src="http://placekitten.com/225/250")
      .language= project.language
      .platform= project.platform
    %article
      %header
        %h1= link_to project.title, project
      #div
        %img(src="http://placekitten.com/225/250")
    %article
      %header
        %h1= link_to project.title, project
      #div
        %img(src="http://placekitten.com/225/250")
%br

=  link_to 'New Project', new_project_path if current_user

= content_for :sidebar do
  %p Splash Sidebar content for Projects page