#blog
  = link_to 'Edit', edit_post_path(@post) if current_user
  %article
    %header 
      %hgroup
        #type{ :class => @post.type }
        %h1= link_to @post.title, @post
        %date{ :pubdate => @post.pubdate}= "Posted about #{time_ago_in_words(@post.pubdate)} ago"
    / %br
    / %hr.clearfix
    #post
      %p= markdown(@post.body)
      %p= @post.notes if @post.notes.length > 1
    %footer
      %p
        = "Posted #{time_ago_in_words(@post.pubdate)} ago. | In"
        %span{ :class=> "category"}=  link_to @post.category, tagged_post_path(@post.category)
        = link_to "View More Posts", posts_path
      #share
        = render partial: 'layouts/share'
    %section#comments
      %hr
      .fb-comments{ :"data-href" => "http://justinherrick.com#{url_for(@post)}", :"data-num-posts" => "3", :"data-width" => "470"}
- unless controller_name == 'index'
  -content_for :title, @post.title
  -content_for :description, truncate(@post.body, length: 100)
  -content_for :keywords, @post.category
