
#blog
  - @posts.each do |post|
    %article
      %header
        #type{ :class => post.type }.
        %h1= post.title
        %date= post.pubdate
      %hr
      #post
        %div= post.body
      %footer
        %div= post.notes
        #category= post.category

  %br

= link_to 'New Project', new_post_path if current_user

= content_for :sidebar do
  %p Splash Sidebar content for Posts page