
#blog
  - @posts.each do |post|
    %article
      %header
        #type= post.type
        %h1= post.title
        %date= post.pubdate
      %hr
      #post
        %div= post.body
      %footer
        %div= post.notes
        #category= post.category

  %br

= link_to 'New Post', new_post_path if current_user
