

- @posts.each do |post|
    %article
        %header
            %div= post.title
            %div= post.category
            %div= post.pubdate
        %div= post.body
        %div= post.type
        %div= post.notes


%br

= link_to 'New Post', new_post_path
