%article
  %header
    %hgroup
      %date= time_ago_in_words(@post.pubdate)
      #type{ :class => @post.type }.
      %h1= link_to(@post.title, @post)
  %br
  %hr.clearfix
  #share

  #post
    %p= @post.body
  %footer
    %div= @post.notes if @post.notes.length > 1
    #category= @post.category
    #div= link_to "View More Posts", posts_path
  %section
    %p Comments Go Here

= if current_user
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
