<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
	  <meta charset="utf-8">

	  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
	       More info: h5bp.com/b/378 -->
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <title>Portfolio</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="description" content="">
	  <meta name="author" content="">

	  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
	  <meta name="viewport" content="width=device-width,initial-scale=1">

	  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Caudex:400italic,700,400' rel='stylesheet' type='text/css'>

	  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

	  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
	       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects; 
	       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
	  <script src="js/libs/modernizr-2.0.6.min.js"></script>
	</head>
	<body>
	<div id="wrapper">
		<header id="nav-bar" class="">
			<hgroup class="">
				<h1><%= link_to "JUSTINHERRICK", "/" %></h1>
				<nav class="">
					<ul class="clearfix">
						<li class=""> <%= link_to "BLOG", posts_path %> </li>
						<li class=""> <%= link_to "PROJECTS", projects_path %> </li>
						<li class="contact"> <%= link_to "CONTACT", contact_path %> </li>
						<% if current_user %>
							<li class=""> <%= link_to "logout", destroy_user_session_path %></li>
						<% end %>
					</ul>
				</nav>
			</hgroup>
		</header>
		<div id="mobile-nav">
			<nav class="">
				<ul class="clearfix">
					<li class=""> <%= link_to "Blog", posts_path %> </li>
					<li class=""> <%= link_to "Projects", projects_path %> </li>
					<li class=""> <%= link_to "Contact", contact_path %> </li>
				</ul>
			</nav>
		</div>
		<div id="content-wrapper">
			<div id="main" role="main" class="clearfix">
				<section id="content" class="span12">
				  <%- flash.each do |name, msg| -%>
				    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				  <%- end -%>
					<%= yield %>
				</section>
			</div>
		</div>
		<div id="sidebar" role="sidebar">
				<div id="icon">
					<div class="border">
						<img src="assets/me.jpg" />
					</div>
				</div>
				<div id="about-me">
				<div id="social">
					<ul>
						<li class="1twitter">
							<%= link_to "", "http://twitter.com/jah2488",  :class => "twitter" %>
						</li>
						<li class="1forrst">
							<%= link_to "", "http://forrst.me/jah2488",    :class => "forrst" %>
						</li>
						<li class="1facebook">
							<%= link_to "", "http://facebook.com/jah2488", :class => "facebook" %>
						</li>
						<li class="1buzz">
							<%= link_to "", "http://github.com/jah2488",   :class => "github" %>
						</li>
					</ul>
				</div>
					<p> My name is Justin and I make web apps,
					 I provide app and startup consultation,
					 I like to make things that work.
					 I like creativity, novelty, and believe
					 that less is more.</p>
					<p class="hire">I'm available for hire!<br/>
					<%= link_to "Contact Me if you're Interested", contact_path %></p>
				</div>
				<div id="sidebar-content" >
					<%= yield :sidebar %>
				</div>
			</div>
		<footer class="clearfix">
			<nav>
				<ul class="clearfix">
					<li class="clearfix"> <%= link_to "Blog", posts_path %> </li>
					<li class="clearfix"> <%= link_to "Projects", projects_path %> </li>
					<li class="clearfix"> <%= link_to "Contact", contact_path %> </li>
				</ul>
			</nav>
		</footer>
	</div>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.4.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via build script -->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts -->


  <% unless Rails.env["development"] %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <% end %>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

	</body>
</html>
